<section class="footer">
		
    <h1>SERVICES</h1>
    <p id="foothead"> we are providing the best of best</p>
    
    <div class="footer_row">
      <div class="sub_footer_row">
          <a href="#" class="footlink">
            <div class="iconimage">
                <i class="fa fa-university" id="university" style="font-size: 50px;"></i>
                <h2 id="university_text">Company</h2>
              </div>
          </a>
          <p id="university_des">About Us<br>
            Vission<br> </p>
      </div>
      <div class="sub_footer_row">
        <a href="about.html#team" class="footlink">
            <div class="iconimage">
                <i class="fa fa-group" id="group" style="font-size: 50px;"></i>
                <h2 id="group_text">Team</h2>
            </div>
        </a>
        <p id="group_des"> About Team<br>
            Connect with us<br> </p>
    </div>
    <div class="sub_footer_row">
        <a href="#" class="footlink">
            <div class="iconimage">
                <i class="fa fa-book" id="book" style="font-size: 50px;"></i>
                <h2 id="book_text">Resources</h2>
            </div>
        </a>
        <p id="book_des"> Blogs<br>
            Reviews<br> </p>
    </div>
    <div class="sub_footer_row">
        <a href="support_page.html" class="footlink">
            <div class="iconimage">
                <i class="fa fa-comment-o" id="comment_o" style="font-size: 50px;"></i>
                <h2 id="comment_o_text">Support</h2>
            </div>
        </a>
        <p id="comment_o_des"> Contact Us<br>
			 
            Subscribe<br> </p>
    </div>
    </div>
</section>

<div class="sticky">
     
    <a href="https://www.facebook.com"><i ><img class="mg" src="image/f.png" alt="" width="40" height="30"></i></a><br>
    <a href="https://www.instagram.com"><i ><img class="mg" src="image/i.jpg" alt="" width="40" height="30"></i></a><br>
    <a href="https://www.youtube.com"><i ><img class="mg" src="image/y.jpg" alt="" width="40" height="30"></i></a><br>
    <a href="https://www.twitter.com"><i ><img class="mg" src="image/t.jpg" alt="" width="40" height="30"></i></a><br>
    
</div>

<div id="footnote">
  <p>Copyright 1999-2021 by Refsnes Data. All Rights Reserved.</p>
</div>
