<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><figure>
  <img src="image/logo.jpg" alt="" width="60" height="40">
      <figcaption><b>NorthEastKnow.in</b></figcaption>
  </figure></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html"><b>Home</b></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>State Wise College</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  href="#">ASSAM</a></li>
              <li><a class="dropdown-item" href="#">MEGHALAYA</a></li>
              <li><a class="dropdown-item" href="#">MIZORAM</a></li>
              <li><a class="dropdown-item" href="#">SIKKIM</a></li>
              <li><a class="dropdown-item" href="#">TRIPURA</a></li>
              <li><a class="dropdown-item" href="#">NAGALAND</a></li>
              <li><a class="dropdown-item" href="#">ARUNACHAL PRADESH</a></li>
              <li><a class="dropdown-item" href="#">MANIPUR</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>Universities in NorthEast</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Government Universities</a></li>
              <li><a class="dropdown-item" href="#">Private Universities</a></li>
              <li><a class="dropdown-item" href="#">Best Universities in NE</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about.html"><b>About Us</b></a>
          </li>
        </ul>
       <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>