<div class="mainbody_cover">
    <div class="mainbody">
        <h1 class="list_of_colleges">List of colleges we have</h1>
        <div class="container_of_main_body">
            <a href="" class="Subrow_of_mainbody"><div>
                <img src="image/nehu.jfif" alt="" style="width: 100%;">
                <h3>Nehu college</h3>
                <p>Hello this is a paragraph</p>
            </div></a>
            <a href="" class="Subrow_of_mainbody"><div>
                <img src="image/gmch2.jpg" alt="" style="width: 100%;">
                <h3>GMCH college</h3>
            </div></a>
            <a href="" class="Subrow_of_mainbody"><div>
                <img src="image/smch1.jpg" alt="" style="width: 100%;">
                <h3>SMCH college</h3>
            </div></a>
        </div>
        <div class="container_of_main_body">-->
          <a href="" class="Subrow_of_mainbody"><div>
              <img src="image/nehu.jfif" alt="" style="width: 100%;">
              <h3>Nehu college</h3>
          </div></a>
          <a href="" class="Subrow_of_mainbody"><div>
              <img src="image/gmch2.jpg" alt="" style="width: 100%;">
              <h3>GMCH college</h3>
          </div></a>
          <a href="" class="Subrow_of_mainbody"><div>
              <img src="image/smch1.jpg" alt="" style="width: 100%;">
              <h3>SMCH college</h3>
          </div></a>
          
          <a href="" class="Subrow_of_mainbody"><div>
              <img src="image/smch1.jpg" alt="" style="width: 100%;">
              <h3>SMCH college</h3>
          </div></a>
      </div>
    </div>
    </div>