<div class="mainbody_cover">
    <div class="detailscontainer">
        <div class="rightSideDetails"><h2 class="detailsPageHeading">shillong college</h2><p class="detailsPageContent">Only candidates who are indigenous inhabitants of the State and have passed
            10+2 level examination from a recognized University, Board of Authority with
            Physics, Chemistry, Biology and English are eligible to apply (Persons applying
            for B. Pharm & D. Pharm seat should also have Mathematics as a subject at the
            10+2 level examination). Candidates should also secure a minimum of 40%
            aggregated marks in Physics, Chemistry and Biology (PCB).
            2. They should complete the age of 17 years on or before 31st December, 2021.
            3. Applicants should be medically fit.
            4. No application will be accepted or entertained after the last date of submission.
            5. The list of candidates eligible for screening will be displayed in the website above
            6. The date of screening will be intimated later.
            7. Selection of candidates, who are medically fit and eligible will be made purely on
            the basis of merit and subject to reservation policy of the State Government.
            8. The list of selected candidates eligible for undergoing the course will be displayed
            on the notice board of Directorate of Health Services (MI), Shillong and Office of
            the District Medical & Health Officer, Tura, West Garo Hills and in Government
            website and it will also be published in the local dailies published from Shillong
            and Tura. Only candidates who are indigenous inhabitants of the State and have passed
            10+2 level examination from a recognized University, Board of Authority with
            Physics, Chemistry, Biology and English are eligible to apply (Persons applying
            for B. Pharm & D. Pharm seat should also have Mathematics as a subject at the
            10+2 level examination). Candidates should also secure a minimum of 40%
            aggregated marks in Physics, Chemistry and Biology (PCB).
            2. They should complete the age of 17 years on or before 31st December, 2021.
            3. Applicants should be medically fit.
            4. No application will be accepted or entertained after the last date of submission.
            5. The list of candidates eligible for screening will be displayed in the website above
            6. The date of screening will be intimated later.
            7. Selection of candidates, who are medically fit and eligible will be made purely on
            the basis of merit and subject to reservation policy of the State Government.
            8. The list of selected candidates eligible for undergoing the course will be displayed
            on the notice board of Directorate of Health Services (MI), Shillong and Office of
            the District Medical & Health Officer, Tura, West Garo Hills and in Government
            website and it will also be published in the local dailies published from Shillong
            and Tura. Only candidates who are indigenous inhabitants of the State and have passed
            10+2 level examination from a recognized University, Board of Authority with
            Physics, Chemistry, Biology and English are eligible to apply (Persons applying
            for B. Pharm & D. Pharm seat should also have Mathematics as a subject at the
            10+2 level examination). Candidates should also secure a minimum of 40%
            aggregated marks in Physics, Chemistry and Biology (PCB).
            2. They should complete the age of 17 years on or before 31st December, 2021.
            3. Applicants should be medically fit.
            4. No application will be accepted or entertained after the last date of submission.
            5. The list of candidates eligible for screening will be displayed in the website above
            6. The date of screening will be intimated later.
            7. Selection of candidates, who are medically fit and eligible will be made purely on
            the basis of merit and subject to reservation policy of the State Government.
            8. The list of selected candidates eligible for undergoing the course will be displayed
            on the notice board of Directorate of Health Services (MI), Shillong and Office of
            the District Medical & Health Officer, Tura, West Garo Hills and in Government
            website and it will also be published in the local dailies published from Shillong
            and Tura</p></div>
        <div class="leftSideDetails"><h3 class="leftSideDetailsHeading">Related</h3><i><a class="relatedpost" href="">shillong college give free tuition fee for students optain 80% above in 12th pass</a></i><hr><i><a class="relatedpost" href="">Post-2</a></i><hr><i><a class="relatedpost" href="">Post-3</a></i><hr><i><a class="relatedpost" href="">Post-4</a></i><hr></div>
    </div>
</div>